USE [master]
GO
/****** Object:  Database [CHBS]    Script Date: 4/11/2024 9:33:29 AM ******/
CREATE DATABASE [CHBS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CHBS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CHBS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CHBS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CHBS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CHBS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CHBS]
GO
/****** Object:  Table [dbo].[chitiethdb]    Script Date: 4/11/2024 9:33:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chitiethdb](
	[sohdb] [nvarchar](50) NOT NULL,
	[masach] [nvarchar](50) NOT NULL,
	[soluong] [float] NOT NULL,
	[giaban] [float] NOT NULL,
	[khuyenmai] [float] NOT NULL,
	[thanhtien] [float] NOT NULL,
 CONSTRAINT [PK_chitiethdb] PRIMARY KEY CLUSTERED 
(
	[sohdb] ASC,
	[masach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chitiethdn]    Script Date: 4/11/2024 9:33:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chitiethdn](
	[sohdn] [nvarchar](50) NOT NULL,
	[masach] [nvarchar](50) NOT NULL,
	[soluong] [float] NOT NULL,
	[gianhap] [float] NOT NULL,
	[khuyenmai] [float] NULL,
	[thanhtien] [float] NOT NULL,
 CONSTRAINT [PK_chitiethdn] PRIMARY KEY CLUSTERED 
(
	[sohdn] ASC,
	[masach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[congviec]    Script Date: 4/11/2024 9:33:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[congviec](
	[macongviec] [nvarchar](50) NOT NULL,
	[tencongviec] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_congviec] PRIMARY KEY CLUSTERED 
(
	[macongviec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hdb]    Script Date: 4/11/2024 9:33:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hdb](
	[sohdb] [nvarchar](50) NOT NULL,
	[manhanvien] [nvarchar](50) NOT NULL,
	[ngayban] [datetime] NOT NULL,
	[makhach] [nvarchar](50) NOT NULL,
	[tongtien] [float] NOT NULL,
 CONSTRAINT [PK_hdb] PRIMARY KEY CLUSTERED 
(
	[sohdb] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hdn]    Script Date: 4/11/2024 9:33:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hdn](
	[sohdn] [nvarchar](50) NOT NULL,
	[manhanvien] [nvarchar](50) NOT NULL,
	[ngaynhap] [datetime] NOT NULL,
	[mancc] [nvarchar](50) NOT NULL,
	[tongtien] [float] NOT NULL,
 CONSTRAINT [PK_hdn] PRIMARY KEY CLUSTERED 
(
	[sohdn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[khachhang]    Script Date: 4/11/2024 9:33:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[khachhang](
	[makhach] [nvarchar](50) NOT NULL,
	[tenkhach] [nvarchar](50) NOT NULL,
	[dienthoai] [nvarchar](50) NOT NULL,
	[diachi] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_khachhang] PRIMARY KEY CLUSTERED 
(
	[makhach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[loaisach]    Script Date: 4/11/2024 9:33:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[loaisach](
	[maloaisach] [nvarchar](50) NOT NULL,
	[tenloaisach] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_loaisach] PRIMARY KEY CLUSTERED 
(
	[maloaisach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[matsach]    Script Date: 4/11/2024 9:33:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[matsach](
	[malanmat] [nvarchar](50) NOT NULL,
	[masach] [nvarchar](50) NOT NULL,
	[ngaymat] [datetime] NOT NULL,
	[soluong] [float] NOT NULL,
 CONSTRAINT [PK_matsach] PRIMARY KEY CLUSTERED 
(
	[malanmat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ncc]    Script Date: 4/11/2024 9:33:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ncc](
	[mancc] [nvarchar](50) NOT NULL,
	[tenncc] [nvarchar](50) NOT NULL,
	[diachi] [nvarchar](50) NOT NULL,
	[dienthoai] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ncc] PRIMARY KEY CLUSTERED 
(
	[mancc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nhanvien]    Script Date: 4/11/2024 9:33:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhanvien](
	[manhanvien] [nvarchar](50) NOT NULL,
	[tennhanvien] [nvarchar](50) NOT NULL,
	[dienthoai] [nvarchar](50) NOT NULL,
	[diachi] [nvarchar](50) NOT NULL,
	[macongviec] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_nhanvien] PRIMARY KEY CLUSTERED 
(
	[manhanvien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nxb]    Script Date: 4/11/2024 9:33:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nxb](
	[manxb] [nvarchar](50) NOT NULL,
	[tennxb] [nvarchar](50) NOT NULL,
	[diachi] [nvarchar](50) NOT NULL,
	[dienthoai] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_nxb] PRIMARY KEY CLUSTERED 
(
	[manxb] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sach]    Script Date: 4/11/2024 9:33:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sach](
	[masach] [nvarchar](50) NOT NULL,
	[tensach] [nvarchar](50) NOT NULL,
	[soluong] [float] NOT NULL,
	[gianhap] [float] NOT NULL,
	[giaban] [float] NOT NULL,
	[maloaisach] [nvarchar](50) NOT NULL,
	[manxb] [nvarchar](50) NOT NULL,
	[anh] [nvarchar](200) NULL,
 CONSTRAINT [PK_sach] PRIMARY KEY CLUSTERED 
(
	[masach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[chitiethdb]  WITH CHECK ADD  CONSTRAINT [FK_chitiethdb_hdb1] FOREIGN KEY([sohdb])
REFERENCES [dbo].[hdb] ([sohdb])
GO
ALTER TABLE [dbo].[chitiethdb] CHECK CONSTRAINT [FK_chitiethdb_hdb1]
GO
ALTER TABLE [dbo].[chitiethdb]  WITH CHECK ADD  CONSTRAINT [FK_chitiethdb_sach] FOREIGN KEY([masach])
REFERENCES [dbo].[sach] ([masach])
GO
ALTER TABLE [dbo].[chitiethdb] CHECK CONSTRAINT [FK_chitiethdb_sach]
GO
ALTER TABLE [dbo].[chitiethdn]  WITH CHECK ADD  CONSTRAINT [FK_chitiethdn_hdn] FOREIGN KEY([masach])
REFERENCES [dbo].[hdn] ([sohdn])
GO
ALTER TABLE [dbo].[chitiethdn] CHECK CONSTRAINT [FK_chitiethdn_hdn]
GO
ALTER TABLE [dbo].[chitiethdn]  WITH CHECK ADD  CONSTRAINT [FK_chitiethdn_sach] FOREIGN KEY([masach])
REFERENCES [dbo].[sach] ([masach])
GO
ALTER TABLE [dbo].[chitiethdn] CHECK CONSTRAINT [FK_chitiethdn_sach]
GO
ALTER TABLE [dbo].[hdb]  WITH CHECK ADD  CONSTRAINT [FK_hdb_khachhang] FOREIGN KEY([makhach])
REFERENCES [dbo].[khachhang] ([makhach])
GO
ALTER TABLE [dbo].[hdb] CHECK CONSTRAINT [FK_hdb_khachhang]
GO
ALTER TABLE [dbo].[hdb]  WITH CHECK ADD  CONSTRAINT [FK_hdb_nhanvien] FOREIGN KEY([manhanvien])
REFERENCES [dbo].[nhanvien] ([manhanvien])
GO
ALTER TABLE [dbo].[hdb] CHECK CONSTRAINT [FK_hdb_nhanvien]
GO
ALTER TABLE [dbo].[hdn]  WITH CHECK ADD  CONSTRAINT [FK_hdn_ncc] FOREIGN KEY([mancc])
REFERENCES [dbo].[ncc] ([mancc])
GO
ALTER TABLE [dbo].[hdn] CHECK CONSTRAINT [FK_hdn_ncc]
GO
ALTER TABLE [dbo].[hdn]  WITH CHECK ADD  CONSTRAINT [FK_hdn_nhanvien] FOREIGN KEY([manhanvien])
REFERENCES [dbo].[nhanvien] ([manhanvien])
GO
ALTER TABLE [dbo].[hdn] CHECK CONSTRAINT [FK_hdn_nhanvien]
GO
ALTER TABLE [dbo].[matsach]  WITH CHECK ADD  CONSTRAINT [FK_matsach_sach] FOREIGN KEY([masach])
REFERENCES [dbo].[sach] ([masach])
GO
ALTER TABLE [dbo].[matsach] CHECK CONSTRAINT [FK_matsach_sach]
GO
ALTER TABLE [dbo].[nhanvien]  WITH CHECK ADD  CONSTRAINT [FK_nhanvien_congviec] FOREIGN KEY([macongviec])
REFERENCES [dbo].[congviec] ([macongviec])
GO
ALTER TABLE [dbo].[nhanvien] CHECK CONSTRAINT [FK_nhanvien_congviec]
GO
ALTER TABLE [dbo].[sach]  WITH CHECK ADD  CONSTRAINT [FK_sach_loaisach] FOREIGN KEY([maloaisach])
REFERENCES [dbo].[loaisach] ([maloaisach])
GO
ALTER TABLE [dbo].[sach] CHECK CONSTRAINT [FK_sach_loaisach]
GO
ALTER TABLE [dbo].[sach]  WITH CHECK ADD  CONSTRAINT [FK_sach_nxb] FOREIGN KEY([manxb])
REFERENCES [dbo].[nxb] ([manxb])
GO
ALTER TABLE [dbo].[sach] CHECK CONSTRAINT [FK_sach_nxb]
GO
USE [master]
GO
